<div id="<%= dom_id officer %>">
  <p>
    <strong>Name:</strong>
    <%= officer.name %>
  </p>

  <p>
    <strong>Badge:</strong>
    <%= officer.badge %>
  </p>

  <p>
    <strong>City:</strong>
    <%= officer.city %>
  </p>

  <p>
    <strong>Incident:</strong>
    <%= officer.incident %>
  </p>

</div>
