<div id="<%= dom_id judge %>">
  <p>
    <strong>Casenumber:</strong>
    <%= judge.caseNumber %>
  </p>

  <p>
    <strong>Raceofoffender:</strong>
    <%= judge.raceOfoffender %>
  </p>

  <p>
    <strong>Judgement:</strong>
    <%= judge.judgement %>
  </p>

  <p>
    <strong>Casespecifics:</strong>
    <%= judge.caseSpecifics %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= judge.feedback %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= judge.rating %>
  </p>

</div>
