

	
<%# if user is signed in %>
						<% if user_signed_in? %>
						<% if current_user.admin? %>
								<h3>Admin</h3>
	<%= form_with url: da_search_index_path, method: :get do |form| %>
      	<div class="form-group">
        <%= form.text_field :query, value: params[:query], class:"search-field", placeholder: "District Attorney Search", style: "display: inline-block;"%>
        <%= form.submit "Search", style: "display: inline-block;", class:"btn btn-primary"%>
      	</div>
    							<% end %>
					
							  
								<% end %>
					

		
		
			<%= @application.as_json %>
  
			<div class="container">
				
			
				
				<h3><%= link_to 'INCIDENTS', incidents_path %></h3>
				
					<%# html and json links %>
			<div class="flexbox-container">
				<div class="flexbox-item officer"> 
				 <%= link_to 'add officer', new_officer_path %>	
				 <br>
				 <%= link_to 'officers', officers_path %>	
				 <br>
				 <%= link_to 'API v1 andriod officer',  api_v1_andriod_officers_path %>
				 <br>
				
				</div>
		
				<div class="flexbox-item das">
					<%= link_to 'API v1 andriod da', api_v1_andriod_das_path %>
					<br>
					<%= link_to 'District Attorney', das_path %>
					<br>
					 <%= link_to 'add District Attorney', new_da_path %>	
					</div>
					
				<div class="flexbox-item judges">
					<%= link_to 'API v1 andriod Judges', api_v1_andriod_judges_path %> 
					<br>
					<%= link_to ' judges', judges_path %>
					<br>
					<%= link_to 'add District Attorney', new_judge_path %>
				</div>
			
		</div>
		
		<%# user can only see this if not logged in %>
							<% else %>
		<%= link_to 'sign in', new_user_session_path %><br />
		<%= link_to 'sign up', new_user_registration_path %>
							<% end %>

					


