


<%# if user is signed in %>
						<% if user_signed_in? %>

		<div className="container">
			<p> you can test the api using the following: </p>
			<%= @application.as_json %>
<%# html and json links %>
			<ul> 
				<li> <%= link_to 'add officer', new_officer_path %></li>
				<li> <%= link_to 'officers', officers_path %></li>
				<li> <%= link_to 'API v1 andriod officer',  api_v1_andriod_officers_path %></li>
				<li><%= link_to 'API v1 andriod da', api_v1_andriod_das_path %></li>
				<li><%= link_to 'District Attorney', das_path %></li>
				<li><%= link_to 'API v1 andriod Judges', api_v1_andriod_judges_path %> </li>
				<li><%= link_to ' judges', judges_path %></li>
			</ul>
		</div>
<%# user can only see this if not logged in %>
							<%else%>
		<%= link_to 'sign in', new_user_session_path %><br />
		<%= link_to 'sign up', new_user_registration_path %>
							<% end %>


