<div id="<%= dom_id da %>">
  <p>
    <strong>Name:</strong>
    <%= da.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= da.city %>
  </p>

  <p>
    <strong>Casenumber:</strong>
    <%= da.caseNumber %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= da.feedback %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= da.rating %>
  </p>

</div>
